.ticket-final {
    display: flex;
    justify-content: space-between;
    /* background-color: #fcf8f8; */
    background-image: url('https://media.istockphoto.com/id/489838744/photo/sunset-over-indian-ocean.jpg?s=1024x1024&w=is&k=20&c=k6I6Nm-7ZXjVLnt0FsLKL1xWQfaaqkk-sOnwKRsoIyU=');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1.2rem;
  
}

.ticketdatafinal-show {
    background-image: url('https://e0.pxfuel.com/wallpapers/894/170/desktop-wallpaper-blue-sky-background-of-your-choice-hi-res-sky-thumbnail.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}



.ticket-modal {
    position: relative;
}

.adarsh {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: white;
    margin-left: 35rem;
    border-radius: 50%;
    margin-top: -50px;
    z-index: 1;
}

.sandeep {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color:white;
    /* border: 1px solid black; */
    bottom: 0;
    margin-left: 35rem;
    border-radius: 50%;
    margin-bottom: -60px;
    z-index: 1;
}

.dotted-line {
    position: absolute;
    width: 2px;
    height: calc(80% + 100px); 
    background: linear-gradient(180deg, black 50%, transparent 50%);
    background-size: 4px 8px;
    left: calc(35rem + 50px); 
    top: 0;
    z-index: 0; 
}

@media screen and (max-width:540px) {
    .finalticketemo{
         display: none;
    }
    .dotted-line{
         display: none;
    }
    .adarsh,.sandeep{
         display: none;
    }
    .finalticketemo{

    }
}
@media screen and (max-width:912px) {
    .ticket-final{
         display: flex;
         flex-direction: column;
    }
    .adarsh,.sandeep,.dotted-line{
       display: none;
   }

    /* .finalticketemo{
        display: none;
   } */
}