.seat-grid {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    gap: 10px;
    border: 1px solid rgb(211, 204, 204);
    padding: 10px;
    border-radius: 1.2rem;
}

.seat {
    padding: 10px;
    text-align: center;
    background-color: #ddd;
    border-radius: 5px;
    cursor: pointer;
}

.seat:hover {
    background-color: #ccc;
}
