.hotel-counter {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slider-wrapper {
    overflow: hidden;
    padding: 20px 0;
}

.hotel-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: calc(250px * 8); /* Adjust this based on the total number of cards */
}

.hotel-card {
    flex: 0 0 25%; /* Show 4 cards at a time */
    max-width: 25%;
    box-sizing: border-box;
    padding: 0 10px;
    width: 120px;
    border-radius: 0.5rem;
    /* border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem; */
}

.hotel-image {
    width: 100%;
    height: 180px;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
}

.arrow-left1, .arrow-right1 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.3rem;
    color: rgb(104, 94, 196);
    cursor: pointer;
    z-index: 10;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: rgb(250, 246, 246);
    padding: 3px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.arrow-left1 {
    left: 20px; /* Adjust this value as needed */
}

.arrow-right1 {
    right: 20px; /* Adjust this value as needed */
}

.hotel-info {
    padding: 15px;
    background-color: #fff;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.hotel-name {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.hotel-location {
    color: gray;
    font-size: 0.9rem;
    margin-bottom: 5px;
}

.hotel-rating {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    margin-bottom: 10px;
    color: gray;
    
}

.hotel-price {
    font-size: 1rem;
    font-weight: bold;
}

.rating{
    color: orange;
    font-size: 18px;
}

.hotel-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
}