.slider-container {
    position: relative;
    margin-top: 10px;
    width: 100%;
    overflow: hidden;
    width: 100%;
}

.arrow-left, .arrow-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    cursor: pointer;
    z-index: 10;
}

.arrow-left {
    left: 10px;
}

.arrow-right {
    right: 10px;
}

.slider-wrapper {
    display: flex;
    overflow: hidden;
}

.slider-content {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.democardItem{
    flex: 0 0 calc(100% / 3); /* Show 3 cards at a time */
    box-sizing: border-box;
    padding: 5px;
    display: flex;
    flex-direction: row;
    width:150px;
    /* background-image: url('https://t3.ftcdn.net/jpg/04/96/62/54/360_F_496625426_vV6Kii3Yv0rJ9JFSnyXjhV7bUepOzEQ5.jpg');  */
  
    
}

.card-image {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    border-bottom-left-radius: 2.5rem;
    border-Top-left-radius: 0.5rem;
}

.card-text {
    padding: 10px;
    background-color: white;
    background-image: url('https://t3.ftcdn.net/jpg/04/96/62/54/360_F_496625426_vV6Kii3Yv0rJ9JFSnyXjhV7bUepOzEQ5.jpg'); /* Aligns text to the left */
    color: #faf6f6;
    border-Top-Right-radius: 2.5rem;
    border-bottom-Right-radius: 0.5rem;
    
}

.discount-offer {
    display: flex;
    align-items: center;
}

.card-date {
    font-weight: bold;
    border: 1px solid black;
    border: none;
    text-align: center;
    border-radius: 2.5rem;
    padding: 5px;
    width: 100px;
    color: black;
    background-color: azure;
    
}

.card-off {
    background-color: orange;
    border-radius: 20%;
    width: 45px;
    height: 25px;
    text-align: center;
}

.arrow-left, .arrow-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5rem;
    color: #684ec4;
    cursor: pointer;
    z-index: 10;
    background: #faf6f6;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 2rem;
    height: 2rem;
}

/* .arrow-left {
    left: 10px;
    
}

.arrow-right {
    right: 10px;
} */
